.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
}

nav, ul{
    display: flex;
}

ul{
    justify-content: center;
    align-items: center;
    padding: 0;
    gap: 10px;
}

li{
    list-style: none;
}

h2{
    cursor: pointer;
}

.nav-link{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}

.nav-link:visited{
    color: black;
}

.nav-link:hover{
    color: darkgray;
}